:root{
    --blanco: #ffffff;
    --negro: #000000;
    --primario: #db0030;
    --secundario: #00dbab;
    --gris: #777777;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-size: 16px;
    font-family: 'Asul', sans-serif;
    background-image: linear-gradient(to top, #dfe9f3 0%, var(--blanco) 100%);
}

h1{
    font-size: 2.8rem;
}

h2{
    font-size: 2.4rem;
}

h3{
    font-size: 2rem;
}

h1, h2, h3{
    text-align: center;
}

.titulo span{
    font-size: 1.8rem;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

.nav-bg{
    background-color: var(--primario);
}

.nav-principal {
    display: flex;
    flex-direction: column;
}

.nav-principal a{
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 1rem;
}

.nav-principal a:hover {
    background-color: var(--secundario);
    color: var(--negro);
}

@media (min-width: 480px) {
    .nav-principal{
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.portada{
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    position: relative;
    margin-bottom: 1.5rem;
}

.contenido-p{
    position: absolute;
    background-color: rgba(0,0,0,.7);
    background-color: rgb(0,0,0 / 70%);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-p h2, .contenido-p p{
    color: var(--blanco);
}

.boton{
    background-color: var(--primario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 1.4rem;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: .5rem;
    border: none;
}

.boton:hover{
    cursor: pointer;
}

.sombra{
    -webkit-box-shadow: 0px 5px 15px 0px rgba(102,102,102,0.5);
    -moz-box-shadow: 0px 5px 15px 0px rgba(102,102,102,0.5);
    box-shadow: 0px 5px 15px 0px rgba(102,102,102,0.5);
    padding: 1.8rem;
    background-color: var(--blanco);
    border-radius: 1rem;
}

@media (min-width: 768px) {
    .servicios{
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 1fr 1fr 1fr; */
        column-gap: 1.5rem;
    }
}

.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio h3{
    color: var(--primario);
    font-weight: 400;
}

.servicio p{
    line-height: 2;
    text-align: center;
}

.servicio .iconos{
    height: 15rem;
    width: 15rem;
    background-color: var(--secundario);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario{
    background-color: var(--gris);
    width: min(60rem, 100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset{
    border: none;
}

.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--primario);
}

@media (min-width: 768px) {
    .contenedor-campos{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
    }

    .campo:nth-child(3), .campo:nth-child(4){
        grid-column: 1 / 3;
    }
}

.campo{
    margin-bottom: 1rem;
}

.campo label{
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}

.input-text{
    width: 100%;
    border: none;
    padding: 1.3rem;
    border-radius: 1rem;
}

.enviar .boton{
    width: 100%;
}

.campo textarea{
    height: 15rem;
}

.footer{
    text-align: center;
}